// Component styling
// =================

.component {
    .dragAndDrop-droppables-container .dragAndDrop-item-draggable img {
    	background: transparent;
    }
    .dragAndDrop-inner .dragAndDrop-dummy {
        background-color: rgba(255,255,255,0.7);
    }
    .flipcard-item-back-body {
        font-size: 55px;
    }
}