// Component styling
// =================

.component {
    .dragAndDrop-droppables-container .dragAndDrop-item-draggable img {
    	background: transparent;
    }
    .dragAndDrop-inner .dragAndDrop-dummy {
        background-color: rgba(255,255,255,0.7);
    }
    .flipcard-item-back-body {
        font-size: 55px;
    }
}


// Feedback styling
.notify-popup-body-inner {
    font-size: 80px;
    @media all and (max-width: @device-width-small) {
        font-size: 60px;
    }
}
